.heder {
    height: 70px;
    font-size: 14px;

    position: sticky;
    top: 0;
    z-index: 500;
    display: flex;
    flex-direction: row;

    background-color: #1d1d1d;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 1);
}